<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all persons</title>

    <style type="text/css">
        body {
            padding: 50px;
        }

        .checkers {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .checkers tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .checkers td:last-child, td:first-child {
            width: 50px;
        }

    </style>

</head>
<body>
<h3>Уголки</h3>

<form action="#" th:action="@{/del(id=${game.id})}" method="post">
    <td>
        <input type="submit" value="Удалить"/>
    </td>
</form>

<!--
<h5>Исходные координаты</h5>
<select class="x_from" id="x_from_id">
    <option th:each="x_from : ${xys.xFrom}" th:value="${x_from}" th:text="${x_from}"></option>
</select>

<select class="y_from" id="y_from_id">
    <option th:each="y_from : ${xys.yFrom}" th:value="${y_from}" th:text="${y_from}"></option>
</select>

<h5>Конечные координаты</h5>

<select class="x_to" id="x_to_id">
    <option th:each="x_to : ${xys.xTo}" th:value="${x_to}" th:text="${x_to}"></option>
</select>

<select class="y_to" id="y_to_id" name="YYY">
<option th:each="y_to : ${xys.yTo}" th:value="${y_to}" th:text="${y_to}" th:selected="*{y.contains('1')}"></option>
-->

<form action="#" th:action="@{/do-stuff2}" th:object="${xys}" method="post">
    <div class="row">
        <label for="id-input" th:text="'X1:'">X1:</label>
        <input id="id-input" type="text" name="xFirst" th:value="${xys.xFirst}" value="1"/>
    </div>
    <div class="row">
        <label for="id-input2" th:text="'Y1:'">Y1:</label>
        <input id="id-input2" type="text" name="yFirst" th:value="${xys.yFirst}" value="2"/>
    </div>
    <div class="row">
        <label for="id-input3" th:text="'X2:'">X2:</label>
        <input id="id-input3" type="text" name="xSecond" th:value="${xys.xSecond}" value="3"/>
    </div>
    <div class="row">
        <label for="id-input4" th:text="'Y2:'">Y2:</label>
        <input id="id-input4" type="text" name="ySecond" th:value="${xys.ySecond}" value="4"/>
    </div>

    <td>
        <input type="submit" value="Ход"/>
    </td>
</form>


<!--<div class="step">-->
<!--    &lt;!&ndash;<button type="submit" th:text="Ход">Ход</button>&ndash;&gt;-->


<!--    <button type="button" th:onclick="|window.location.href='/do-stuff/1'|">Ход</button>-->

<!--    <br>-->
<!--    <label for="relativeLink"> Relative link </label>-->
<!--    <a id = "relativeLink" th:href="@{/do-stuff/(str=${YYY})}">relative link</a>-->

<!--    &lt;!&ndash;    <a href="list.html" th:href="@{/}"><button type="button" th:text="#{cancel-button-caption}">Cancel</button></a>&ndash;&gt;-->

<!--</div>-->


<h5></h5>


<table class="checkers">
    <thead>
    <tr>
        <th></th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
        <th>E</th>
        <th>F</th>
        <th>G</th>
        <th>H</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${game.chessFair.desk}">
        <td th:text="${row.leftClm}">_</td>

        <td th:text="${row.arr[0].val}">_</td>
        <td th:text="${row.arr[1].val}">_</td>
        <td th:text="${row.arr[2].val}">_</td>
        <td th:text="${row.arr[3].val}">_</td>
        <td th:text="${row.arr[4].val}">_</td>
        <td th:text="${row.arr[5].val}">_</td>
        <td th:text="${row.arr[6].val}">_</td>
        <td th:text="${row.arr[7].val}">_</td>
        <td th:text="${row.rightClm}">_</td>

        <!--
                <td>
                    <a href="edit.html">Edit</a>
                </td>
        -->
    </tr>
    </tbody>
</table>
</body>
</html>
