<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all persons</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .persons {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .persons tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .persons td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
<h3>Persons:</h3>

<table class="persons">
    <thead>
    <tr>
        <th>0</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game : ${game.chessFair}" th:object = "${game.chessFair}">
        <td th:text="*{id}">1</td>
        <td th:text="*{name}">John Doe</td>
        <td>
            <a href="edit.html">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
