<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all persons</title>

    <style type="text/css">
        body {
            padding: 50px;
        }

        .checkers {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .checkers tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .checkers td:last-child, td:first-child {
            width: 50px;
        }

    </style>

</head>
<body>
<h3>Уголки</h3>
<h5>O - белые</h5>
<h5>X - черные</h5>

<table class="checkers">
    <thead>
    <tr>
        <th></th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
        <th>E</th>
        <th>F</th>
        <th>G</th>
        <th>H</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${game.chessFair.desk}">
        <td th:text="${row.leftClm}">_</td>
        <td th:text="${row.a}">_
            <button/>
        </td>
        <td th:text="${row.b}">_</td>
        <td th:text="${row.c}">_</td>
        <td th:text="${row.d}">_</td>
        <td th:text="${row.e}">_</td>
        <td th:text="${row.f}">_</td>
        <td th:text="${row.g}">_</td>
        <td th:text="${row.h}">_</td>
        <td th:text="${row.rightClm}">_</td>
        <!--
                <td>
                    <a href="edit.html">Edit</a>
                </td>
        -->
    </tr>
    </tbody>
</table>
</body>
</html>
