<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="ioService" class="ru.otus.ex01.service.StreamsIOService">
        <constructor-arg index="0">
            <util:constant static-field="java.lang.System.out"/>
        </constructor-arg>
    </bean>

    <bean id="appProperties" class="ru.otus.ex01.config.AppProperties">
        <constructor-arg name="testFileName" value="questions_wrong.csv"/>
    </bean>

    <bean id="questionDto" class="ru.otus.ex01.dao.dto.QuestionDto">
    </bean>

    <bean id="answerCsvConverter" class="ru.otus.ex01.dao.dto.AnswerCsvConverter">
    </bean>

    <bean id="testFileNameProvider" class="ru.otus.ex01.config.AppProperties">
        <constructor-arg index="0" value="questions_wrong.csv"/>
    </bean>

    <bean id="questionDao" class="ru.otus.ex01.dao.CsvQuestionDao">
        <constructor-arg index="0" ref="testFileNameProvider"/>
    </bean>

    <bean id="testService" class="ru.otus.ex01.service.TestServiceImpl">
        <constructor-arg index="0" ref="ioService"/>
        <constructor-arg index="1" ref="questionDao"/>
    </bean>

    <bean id="testRunnerService" class="ru.otus.ex01.service.TestRunnerServiceImpl">
        <constructor-arg index="0" ref="testService"/>
    </bean>

</beans>
